body
{
    background-color: black;
    color: white;
}

#container_12
{
    color: white;
    background-color: dimgray;
}

#grid_6
{
    color: white;
    background-color: dimgray;
}

#grid_4
{
    color: white;
    background-color: dimgray;
}

img
{
    height: 145px;
    width: 145px;
}

footer
{
    text-align: center;
}